In [16]:
import pandas as pd

In [17]:
survey_df= pd.read_csv("Data/survey.csv")
survey_df

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [18]:
survey_df= survey_df.drop(['Timestamp','work_interfere', 'no_employees', 'mental_health_consequence', 'phys_health_consequence','leave', 'coworkers', 'supervisor', 'mental_health_interview','phys_health_interview','mental_vs_physical','obs_consequence','comments','benefits','care_options','wellness_program','seek_help','anonymity'], axis =1)

In [19]:
survey_df["Gender"] = survey_df["Gender"].replace(['Male-ish',"Trans-female", "Cis Female",'something kinda male?',
                                                  'Cis Male','Male (CIS)','non-binary'
                                                  'Nah', 'All', 'Enby', 'fluid', 'Genderqueer',
                                                  'Androgyne', 'Agender', 'cis-female/femme',
                                                   'Guy (-ish) ^_^', 'male leaning androgynous',
                                                  'Trans woman','Neuter', 'Female (trans)', 'queer',
                                                   'Female (cis)', 'cis male', 'A little about you', 
                                                   'p','Cis Man','non-binary', 'Nah',
                                                  'ostensibly male, unsure what that really means'], 'Others')

In [20]:
survey_df["Gender"] = survey_df["Gender"].replace(['M','MALE', "male","maile", "Mal",
                                                  'Make',"Man",'msle','Mail','Malr','m','Male '
                                                  ], 'Male')

In [21]:
survey_df["Gender"] = survey_df["Gender"].replace(['f','FEMALE', "female", "F", "Woman",
                                                  'queer/she/they','Femake',
                                                  'woman','femail','Female '], 'Female')

In [22]:
survey_df = survey_df.fillna("NULL")

In [23]:
survey_df["Country"].unique()

array(['United States', 'Canada', 'United Kingdom', 'Bulgaria', 'France',
       'Portugal', 'Netherlands', 'Switzerland', 'Poland', 'Australia',
       'Germany', 'Russia', 'Mexico', 'Brazil', 'Slovenia', 'Costa Rica',
       'Austria', 'Ireland', 'India', 'South Africa', 'Italy', 'Sweden',
       'Colombia', 'Latvia', 'Romania', 'Belgium', 'New Zealand',
       'Zimbabwe', 'Spain', 'Finland', 'Uruguay', 'Israel',
       'Bosnia and Herzegovina', 'Hungary', 'Singapore', 'Japan',
       'Nigeria', 'Croatia', 'Norway', 'Thailand', 'Denmark',
       'Bahamas, The', 'Greece', 'Moldova', 'Georgia', 'China',
       'Czech Republic', 'Philippines'], dtype=object)

In [24]:
survey_df["Country"] = survey_df["Country"].replace(['Canada', 'United Kingdom', 'Bulgaria', 'France',
       'Portugal', 'Netherlands', 'Switzerland', 'Poland', 'Australia',
       'Germany', 'Russia', 'Mexico', 'Brazil', 'Slovenia', 'Costa Rica',
       'Austria', 'Ireland', 'India', 'South Africa', 'Italy', 'Sweden',
       'Colombia', 'Latvia', 'Romania', 'Belgium', 'New Zealand',
       'Zimbabwe', 'Spain', 'Finland', 'Uruguay', 'Israel',
       'Bosnia and Herzegovina', 'Hungary', 'Singapore', 'Japan',
       'Nigeria', 'Croatia', 'Norway', 'Thailand', 'Denmark',
       'Bahamas, The', 'Greece', 'Moldova', 'Georgia', 'China',
       'Czech Republic', 'Philippines'], 'Others')

In [29]:
survey_df = survey_df.reset_index()

In [36]:
survey_df = survey_df.rename(columns = {'index' : 'id'})

In [37]:
survey_df.to_csv("Data/survey_df.csv", index = False)